<div class="row justify-content-center pt-5">
  <div class="col-8">
    <form id="change-password">
      <div class="form-group">
        <input class="form-control" required type="password" name="passwords[old]" placeholder="Old password...">
      </div>
      <div class="form-group">
        <input class="form-control" required type="password" name="passwords[new]" placeholder="New password...">
      </div>
      <button type="submit" class="form-control btn btn-pink">Reset password</button>
    </form>
  </div>
</div>

<div class="row justify-content-center pt-5">
  <div class="col-8">
    <button id="sign-out" class="form-control btn btn-pink">Sign-out</button>
  </div>
</div>
