
{{#each podcasts as |podcast index|}}
<div class="click-me col-4 mt-5">
<div class="card" style="width: 18rem;">
<img src="{{podcast.image}}" data-cell-index="{{index}}" class="card-img-top card-click" alt="...">
<div class="card-body">
  <h5 class="card-title">{{podcast.title}}</h5>
  <p class="card-text">{{podcast.publisher}}</p>
  </div>
</div>
</div>
{{/each}}
