  <nav class="navbar navbar-expand-md navbar-dark bg-sand fixed-left">
      <img src="../assets/img/strymer-web.0aba30e3.png" width="175">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav pt-3">
            <li id="home" class="nav-item nav-link nav-active nav-hover" style="color: #ffffff;"><span id="foo"><i class="fas fa-home mr-2"></i>Home</span>
            </li>
            <li id="settings" class="nav-item nav-link nav-hover" style="color: #ffffff;"><span id="foo"><i class="fas fa-user-circle mr-2"></i>
              Account</span>
            </li>
          </ul>
          <ul class="navbar-nav fav-nav">

            <li class="nav-item nav-fav" style="color: #fff;"><h5>Favorite Lists</h5>
            </li>
              <li class="nav-item nav-link nav-hover">
                <a href="#myModal" role="button" style="color: #fff; margin-left: 3px; vertical-align: middle;" data-toggle="modal"><span id="foo"><i class="fas fa-plus-square" style="margin-right: 13px;"></i>Create a List</span></a>

              </li>
          </ul>
      </div>
  </nav>
