
<nav class="fixed-bottom navbar-expand-lg navbar-light" style="background-color: #181a23; border-top: 3px solid #fff;">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <i data-audio="{{currentAudio}}" class="fas fa-pause-circle mt-2 play-pause"></i>
    </li>
  </ul>
</nav>
