<nav class="fixed-bottom navbar-expand-lg navbar-light" style="background-color: #181a23;">
  <img src="" width="100%">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <i class="fas fa-play-circle"></i>
    </li>
  </ul>
</nav>
