<div class="row justify-content-center mt-5 strymer-logo">
  <img src="./public/Strymer-Final-Standalone-Icon.png" width="150">
</div>

<div class="row justify-content-center strymer-welcome">
  <div class="col-8 py-4">
    <h3><strong>WELCOME TO STRYMER PODCAST</strong></h3>
  </div>
</div>

<div class="row justify-content-center sign-up-row">
  <div class="col-8">
    <form id="sign-up">
      <div class="form-group">
        <input class="form-control" required type="email" name="credentials[email]" placeholder="Email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Except Facebook who will then share it with the world.</small>
      </div>
      <div class="form-group">
        <input class="form-control" required type="password" name="credentials[password]" placeholder="Password">
      </div>
      <div class="form-group">
        <input class="form-control" required type="password" name="credentials[password_confirmation]" placeholder="Password Confirmation">
      </div>
      <button type="submit" class="form-control btn btn-pink">Sign-up</button>
    </form>
  </div>
</div>

<div class="row justify-content-center or-text">
  <div class="col-6 py-4">
    <h3>-OR-</h3>
  </div>
</div>


<div class="row justify-content-center sign-in-row">
  <div class="col-8">
    <form id="sign-in">
      <div class="form-group">
        <input class="form-control" required type="email" name="credentials[email]" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" required type="password" name="credentials[password]" placeholder="Password">
      </div>
      <button type="submit" class="form-control btn btn-pink">Sign-in</button>
    </form>
  </div>
</div>
